<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elysium</title>
    <link rel="stylesheet" href="../static/styles/new_topic.css">
</head>
<body>
{% include 'header.html' %}
<div>
    <h1>{{ forum.title }} - новая тема</h1>
<form method="post">
    <label for="title">Название:</label>
    <input type="text" name="title" required>
    <br>
    <label for="content">Описание:</label>
    <textarea name="content" required></textarea>
    <br>
    <button type="submit">Создать</button>
</form>
</div>
</body>
</html>