<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elysium</title>
    <link rel="stylesheet" href="../static/styles/topic.css">
</head>
<body>
    {% include 'header.html' %}
    <h2 style="text-align: center; margin-top: 20px;">Тема «{{ topic.title }}»</h2>
    <p style="text-align: center">{{ topic.content }}</p>
    <p style="text-align: left; margin-left: 30px; margin-bottom: 20px; font-size: 20px">Комментарии</p>
    <ul>
        {% for comment in topic.comments %}

            <li class="li">
                <strong>{{ comment.user.username }}</strong>: {{ comment.content }}
                {% if comment.user.id == current_user.id %}
                <form class="delete-form" method="post" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                    <button class="delete-button" type="submit">Удалить</button>
                </form>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <form method="post" action="{{ url_for('add_comment', topic_id=topic.id, user_id=current_user.id) }}">
        <label for="content">Написать комментарий:</label>
        <br>
        <textarea style="margin-left: 30px;" name="content" required></textarea>
        <br>
        <button class="button" type="submit">Отправить</button>
    </form>
    {% if topic.user_id == current_user.id %}
        <form class="delete-form" method="post" action="{{ url_for('delete_topic', topic_id=topic.id) }}">
            <button class="delete-theme" type="submit">Удалить тему</button>
        </form>
    {% endif %}
</body>
</html>
